<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE DU POTIN</h1>
    <a>Voici la page du potin n°<%=i%></a>
    <p>
      Son auteur : <%= gossip[0] %><br/>
      Le contenu su potin : <%= gossip[1] %>
    </p>
	<% end %>
	<a href="/">Accueil</a>
  </body>
</html>


